@import 'index.scss';
:host{
    display: block;
}
.login-wrapper {
    margin: auto;
    width: 400px;
}
.card{
    border: none;
    border-radius: 5px;
}
input {
    margin-bottom: 15px;
}
.form-signin{
    .sign-up{
        p{
            margin-left: 2px;
            @include text-style(14px);
            font-weight: 400;
        }
        a{
            @include text-style(14px, $primary);
            cursor: pointer;
        }
        a:hover{
            @include text-style(14px, $primary);
        }
    }
    input{
        height: 45px;
    }
   
}
.sign-in-text-container{
    display: flex;
    width:100%;
    margin-left: 2px;
    height: 50px;
    align-items:center;
    justify-content: center;
 
}
.sign-in-text{
   @include text-style(25px);
   margin-bottom: 0;
   padding-top: 0;
}
.btn-primary{
    background-color:$primary;
    @include text-style(16px,white );
}
.warning{
    margin-top: 10px;
}
.sing-in-text{
    padding: 28px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}
hr{
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
.details{
    display: inline-block;
    @include text-style(14px);
    color:$primary;
    display: inline-block;
    align-self: center;
    margin-top: 10px;
    background-color: white;

}
.dark-mode{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    background-color: $darkmode-header;
    border-radius: 5px;
    .form-signin{
        .sign-up{
            p{
                @include text-style(14px, $darkmode-text);
            }
        }
       
    }
    .details{
        background-color: $darkmode-header;
    }
    .sing-in-text{
        background-color: $darkmode-header;
    }
    input{
        background-color:$primary-lighter;
    }
}