
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
<div class = "sign-in">
<div class="login-wrapper">
<div class="card">
    <div class="card-body">
        <form class="form-signin" [formGroup] = "signInGroup" (ngSubmit)="onSubmit()" >
            <div class = "sing-in-text">
                <div class = "details"> <hr>Sign In <hr></div> 
            </div>
            
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" formControlName = "Email" placeholder="Email address" required ngModel>
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" formControlName = "Password" placeholder="Password" required ngModel>
            
            <div class ="sign-up">
                <p>Need new account? <a href = "#Register">Sign up free</a></p>
            </div>
            <button class="btn btn-lg btn-primary btn-block warning" type="submit">Sign in</button>
            <div class="alert alert-danger" role="alert" *ngIf = "loginMessage">
                Email or Password is Incorrect
            </div>
            <div class="alert alert-danger warning" role="alert" *ngIf = "patternMessage">
                {{patternMessage}}
            </div>
        </form>
    </div>

</div>
</div>
</div>

