@import 'index.scss';
.navbar{
    width:100%;
    height:100px;
    display: flex;
    align-items : center;
    background-color: $primary-lighter;
}
.logo>img{
   width:60px;
   height:50px;
   transform: translate(0px, -30%);
}
.logo>p{
    font-size:35.69px;
    color:$blue-dark;
    font-family: "Lato", sans-serif;
    display: inline-block;
    margin-left:14px;
    transform: translate(0px, -50%);
}
.logo{
    height:100px;
    width:fit-content;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.navbar>.navigation>li{
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size:15.86px;
    color:$secondary-dark-2;
    opacity: 100%;
    margin-top: 35px;
    
}
.navbar>.navigation{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height:100px;
    width: 923px;
    justify-content: space-between;
    margin-right: 100px;
   
}
.navbar>ul>li:hover{
    color: $primary;
}
.navbar-foot{
    width:100%;
    margin-top: 30px;
    justify-content: center;
    font-family: "Raleway";
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    .start-using-free{
        width:100%;
        display: flex;
        justify-content: center;
    }
    p{
        display:inline-block;
        height: 10px;
        @include text-style(16px);
        span{
            @include text-style(20px, $blue-dark);
            font-weight: 500;
        }
    }
    .speacker-logo{
        margin-left: 0;
        display: block;
        height: 50px;
        i{
            display: inline-block;
            color:$blue-dark;
        }
       .line{
        display: inline-block;
        display: inline-block;
           width:30px;
           height:2px;
           background-color: $blue-dark;
       }
    }

}