<div class = "sidebar">
    <div class = "who-we-are">
        <p>
            <span>What is LiveChat?</span><br>
    LiveChat is a complete customer service platform that delights your customers and fuels your sales.
   <br> 
    Learn more about LiveChat
        </p>
        
    </div>
    <div class = "computer-design">
        <img src = "../../../../../assets/login/monitor.png" class = "monitor">
        <img src = "../../../../../assets/login/chatimage.png" class = "chat-image">
    </div>
    <div>

    </div>
</div>
