@import 'index.scss';
:host{
    display: block;
}
.register-form{
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background-1;

    hr{
        width: 200px;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        display: inline-block;
    }
    .details{
        display: inline-block;
        @include text-style(14px);
        color:$primary;
        display: block;
        align-self: center;
        margin-top: 10px;
        background-color: white;

    }
    label{
        margin-bottom: 8px;
        margin-top: 15px;
        @include text-style(16px);
    }
    input{
        height: 45px;
        @include text-style(16px );
    }
   
}
form{
    width:100%;
    background-color: white;
   
    .name{
        display: inline-block;
        width: 48%;
    }
    .password{
        display: inline-block;
        width: 48%;
    }
    .combine{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-content: center;
    }
    button{
        margin-top: 15px;
        width: 120px;
        height: 50px;
        background-color:$primary;
        @include text-style(16px,white );
    }
}
.max-width{
    width: 1200px;
}
.max-width-content{
    padding: 28px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.photo{
    width: 100%;
    display: flex;
    flex-direction: column;
}