@import 'index.scss';
.navbar{
    width:100%;
    height:80px;
    display: flex;
    background-color: $navbar;
    align-content: center;
}
.logo>img{
   width:60px;
   height:50px;
}
.logo>p{
    @include text-style(35.69px, $primary-dark);
    margin-left:14px;
    cursor: default;
    cursor: pointer;
}
.logo>p>span{
    color: $primary;
    font-weight: bold;
    cursor: pointer;
}
.logo{
    height:100px;
    width:fit-content;
    margin-left: 13%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
.navbar>.navigation>ul{
    display: flex;
    align-content: center;
    align-items: center;
}
.navbar>.navigation>li{
    cursor: pointer;
    @include text-style(18px,$primary-dark);
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.navbar>.navigation>li>a{
    @include text-style(18px,$primary-dark);
    text-decoration: none;
}
.navbar>.navigation{
    display: flex;
    height:100px;
    width: 500px;
    justify-content: space-between;
    margin-right: 100px;
   
}
.navbar>ul>li>a:hover{
    color: $primary;
}
.toggle-dark-mode{
  @include text-style(14px,$primary-dark);
  display: inline-block;
  cursor: pointer;

}
.toggle{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.dark-mode{
    .navbar{
        background-color: $darkmode-header;
    }
    .logo>p{
        @include text-style(35.69px, $darkmode-text);
    }
    .navbar>.navigation>li>a{
        @include text-style(18px,$darkmode-text);
    }
    .toggle-dark-mode{
        @include text-style(14px,$darkmode-text);
    }
    .navbar>ul>li>a:hover{
        color: $primary;
    }
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}