$primary: #00adee;
$primary-light: rgba(0, 173, 238, 0.2);
$primary-lighter: rgba(0, 175, 238, 0.1);
$primary-dark: #252631;
$primary-dark-2: #1A1C27;
$secondary-dark-1: #464646;
$secondary-dark-2: #989898;
$dark-secondary-3: #c4c4c4;
$secondary-1: #4d7cfe;
$secondary-2: #6dd230;
$secondary-3: #fe4d97;
$secondary-4: #2ce5f6;
$outline: #747474;
$background-1: #f2f4f6;
$navbar: #d4e5f5;
$footer: #b7c8d8;
$background-2: #f8fafb;
$blue-dark: #19456e;
$darkmode-background: #1a1c27;
$darkmode-header: #090c10;
$darkmode-text: #c9d1d9;