<div class = "login-footer">
    <div class ="login-info">
        
        <div class ="division div1">
            <i class="fab fa-facebook"></i>
            <p> Facebook: <span>Live Chat</span></p>
        </div>
        <div class ="division div2">
            <i class="fab fa-twitter"></i>
            <p> Twitter: <span>Live Chat</span></p>
        </div>
        <div class ="division div3">
            <i class="fas fa-phone-alt"></i>
            <p> Call us:<span> 1.777.777.777</span></p>

        </div>
        <div class ="division div4">
            <i class="fas fa-paper-plane"></i>
            <p>Write us: <span>hello@livechat.com.vn</span> </p> 
        </div>

</div>