
  <section class="services" id="services">
      <div class="max-width">
          <div class="serv-content">
              <div class="card">
                  <div class="box">
                    <i class="fas fa-cart-plus"></i>
                      <div class="text">Create User</div>
                      <p>You can easily create a FREE new account by clickink the "register" button above, on the navbar or just scroll down.</p>
                  </div>
              </div>
              <div class="card">
                  <div class="box">
                    <i class="fas fa-sign-in-alt"></i>
                      <div class="text">Log In</div>
                      <p>After you will register a nwe account search Sign in template, or just click on the "Sign in" button above, on the navbar.</p>
                  </div>
              </div>
              <div class="card">
                  <div class="box">
                    <i class="fas fa-search"></i>
                      <div class="text">Find Friends</div>
                      <p>Congrats! you are in the Livechat, now you can search your friends and try to message them. Good Luck! </p>
                  </div>
              </div>
              
             
          </div>
      </div>
  </section>