@import "index.scss";
:host{
    display: block;
}
.login-page{
    background-color: $background-1;
}
.login-body{
 display: flex;
 justify-content: center;
}

.content{
    margin-top: 140px;
    display: grid;
    grid-template-columns: auto auto;
    width:1200px;
    align-items: center;
}
.title-header{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    width: fit-content;
    height: fit-content;
}
.title{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
   
    @include text-style(36px);
}
.after-title{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    margin-left: 50px;
    @include text-style(20px, $primary);
    margin-top: -15px;
}
.header-2{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    .after-title{
        margin-left: 120px;
    }
}
.header-3{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    .after-title{
        margin-left: 108px;
    }
}
.contact{
    width:100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .max-wdth{
        width: 1200px;
        display: flex;
        flex-direction: row;
       // justify-content: center;
        p{
            @include text-style(36px, $primary);
        }
        i{
          font-size: 30px;
          color: $primary;
          margin-left: 5px;
          margin-top: -5px ;
        }
    } 
}
shared-component-navbar{
    position: fixed;
    width:100%;
    z-index: 5;
}
shared-component-log-in{
    margin-top: 100px;
}
shared-component-sidebar{
    margin-top: 80px;
}
app-shared-cardview{
    margin-top: 80px;
}
component-shared-register{
    margin-top: 30px;
}
shared-component-login-footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
shared-component-login-footer{
    margin-top: 30px;
}
.dark-mode{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    background-color: $darkmode-background;
    .title{
        @include text-style(36px, $darkmode-text);
    }
    hr{
        background-color: $primary;
    }
}
@media (max-width: 600px){

}