:host{
    display: block;
}
.computer-design{
    width: 500px;
    height: 350px;
    position: relative;
    display: flex;
}
.monitor{
    width:500px;
    height: 350px;
    display: inline;
}
.chat-image{
    width:460px;
    height:220px;
    position: absolute;
    margin-top: 19px;
    display: inline;
    margin-left: 19px;
    z-index: 3;
}

